*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
}
header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
nav{
    display: flex;
    margin-bottom: 50px; /* to fix later */
}
.header-logo{
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
}
.header-logo{
    flex: 1;
    align-self: flex-end;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
header ul{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 10px;
}
/* hero */
.main-header{
    display: flex;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
p{
    font-size: 24px;
    color: #F9FAF8;
}
button{
    background-color: #3882F6;
    border: none;
    font-size: 24px;
    color: #F9FAF8;
}
.img-container{
    border: solid red 1px;
    width: 1250px;
    height: 450px;
    margin-right: 300px;
}
.main-header img{
    width:100%;
    height: auto;
}

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}
/*main information section*/
.main-information{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.info-card{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
.small-img-container{
    border: 1px solid blue;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}